html, body {
  background: #555555;
}
canvas {
  display: block;
}
h1 {
  color: lightGreen;
  font-family: Arial, Helvetica, sans-serif;
}
.center {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.container {
  position: relative;
  display: inline-block;
  height: 20%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container:hover .image {
  opacity: 0.2;
}
.slider {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.container:hover .slider {
  opacity: 1;
}
#reset {
  margin-left: 50px;
}

a:link {
  color: white;
}
a:visited {
  color: hotpink;
}
a:hover {
  color: lightgreen;
}